
* {
    box-sizing: border-box;
}
/* Added scrolling behavior action for hyperlink interaction */
html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
    margin: 0;

}

/* Set background color and behavior for main section of file */

main {
    background-color: rgb(42, 49, 15);
    display: flex;
    flex-wrap: wrap;

}

/* Sets the style for the hyperlinks */
a {
    color: rgb(255, 229, 112);
    text-decoration: underline;
    text-align: center;
}


p {
    font-size: 16px;
    color: rgb(93, 219, 212);
}
/* Set borders to a certain size and color */

img {
    border-radius: 1%;
    border: 10px solid rgb(12, 1, 1);


}

/* Sets the size of image */
.imgbound {

    height: 100%;
    width: 100%;
}

/* Set the font, dimensions, font size and color */

.header {

    padding: 20px;
    background-color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blueviolet;
    height: 150px;
    display: flex;
    justify-content: right;
    font-size: 15px;


}

/* Sets main box for featured project */
.box1 {
    flex: 1 0 90%;
    height: 100%;
    display: block;
    padding: 1%;
    border-style: double;
    flex-wrap: wrap;
    margin: 4%;
    background-color: rgb(9, 47, 107);

}
/* Set dimensions, behavior and color for section boxes */

.box {
    flex: 1 0 150px;
    background-color: rgb(9, 47, 107);
    padding: 1%;
    flex-wrap: wrap;
    border-radius: 5%;
    margin: 4%;
    border-style: double;
    padding: 2%;
}

/* Sets dimensions for side bar area. */

.sidebar {
    flex: 2 1 200px;
    display: table;
    flex-direction: column;
    padding: 20px;
    float: left;
    width: 200px;
    height: 100%;
    background-color: rgb(9, 47, 107);
    margin: 15px;
    text-align: center;



}

/*  Sets the text boxes inside sidebar to specific height and border size*/
.sidebarbox {
    border: 40px;
    height: 300px;
}

.footer {
    flex: 1 0 150px;
    background-color: blue;
    padding: 1%;

    margin: 4%;
    width: 100%;
}

/* Adds responsive desgin for viewing on different surfaces based upon speciifc widths */

@media screen and (max-width: 765px) {
    body {
        background-color: rgb(35, 209, 195);
    }

    main {
        background-color: rgb(0, 38, 255);

    }
}


@media screen and (min-width: 766px) {

    body {
        background-color: rgb(14, 4, 4);
        color: aqua;
    }

    .box {
        width: 30%;
    }
}
/* Changes background colors for viewing on different surfaces based upon speciifc widths */

@media screen and (max-width: 425px) {
    .sidebar {
        width: 30%;
        font-size: smaller;
        color: aqua;
    }

    main {
        width: auto;
    }

    .box {
        color: rgb(239, 251, 10);
    }

    .box1 {
        color: yellow;
    }

}


@media screen and (mid-width: 1024px) {
    .sidebar {
        width: 20%;
    }
}