* {
    box-sizing: border-box;

}

body {
    font-family: Arial;
    margin: 0;
    
}


main {
    background-color: rgb(227, 255, 127);
    display: flex;
    flex-wrap: wrap;

}

a {
    color: rgb(1, 14, 16);
    text-decoration: underline;
}

p {
    font-size: 16px;
    color: rgb(6, 7, 1);
}

img {
    border-radius: 30%;
    border: 10px solid black;

}

.header {

    padding: 20px;
    background-color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blueviolet;
    height: 150px;
}

.navhead {
    display: flex;
    justify-content: right;
    font-size: 15px;
    background-color: rgb(23, 101, 246);

}



.box {
    flex: 1 0 300px;
    background-color: rgb(54, 140, 221);
    padding: 1%;
    border-style: inset;
    flex-wrap: wrap;
    border-radius: 15%;
    margin: 4%;
}


@media screen and (max-width: 765px) {
body {
    background-color: rgb(35, 209, 195);
}

main {
    background-color: rgb(255, 217, 0);

}
}
.box {
    width: 100%;
}

@media screen and (min-width: 766px) {
    main {
        background-image: url(https://th.bing.com/th/id/OIP._vcmC1Y_P5JiKEnHja2hSgHaE7?pid=ImgDet&rs=1);

    }

    body {
        background-color: black;
        color: aqua;
    }

    .box {
        width: 30%;
    }
}

    @media screen and (max-width: 480px){
    .header{
        background-color: blueviolet;
    }
}